---
import Layout from "../layouts/Layout.astro";
import Button from "../components/button.astro";
import GithubIcon from "../components/icons/github.astro";
import LinkedinIcon from "../components/icons/linkedin.astro";
import { Image } from "astro:assets";
import perfil from "../assets/profile.png";


// Import the MDX file
import { getEntry } from 'astro:content';

// Get the entry from the content collection
const profile = await getEntry('data', 'profile');
const { name, subname, role } = profile.data;
const { Content } = await profile.render();

---

<Layout>
  <div class="flex flex-col sm:flex-row mx-5 gap-5">
    <div class="flex flex-col items-center gap-5  basis-1/4">
      <div
        class="bg-secondary shadow-[0.1em_0.1em] border-3 border-black rounded-lg h-52 w-60 shadow-card group-hover:shadow-hover flex transition relative group"
      >
        <div class="h-80 w-60 overflow-hidden relative -mt-29 rounded-lg">
          <Image
            src={perfil}
            alt="profile"
            width="315"
            height="377"
            loading="lazy"
            decoding="async"
            class="object-bottom absolute bottom-0 group-hover:scale-105 transition"
          />
        </div>
      </div>

      <div class="grid grid-cols-2 gap-5">
        <Button class="justify-center"  href="https://www.linkedin.com/in/jairo-rodero-villa-9867b8155" target="_blank">
          <LinkedinIcon class="w-6 h-6"/> 
        </Button>
        <Button class="justify-center">
          <GithubIcon class="w-6 h-6">
        </Button>
      </div>
    </div>

    <div class=" basis-3/4">
      <h1 class="font-bold text-4xl text-center sm:text-left">{name} {subname}</h1>
      <h2 class="font-semibold text-2xl text-center sm:text-left">{role}</h2>
      <p class="mt-5 prose prose-lg">
        <Content/>
      </p>
     
    </div>
  </div>
</Layout>
