---
const {  type = 'button', class: customClass = '',...others} = Astro.props;
---

<a type={type} {...others}
    class={`bg-secondary font-inherit font-black text-lg 
        flex items-center gap-2 
        py-2 px-5 
        border-3 border-black 
        rounded-lg shadow-[0.1em_0.1em] 
        cursor-pointer 
        hover:-translate-x-[0.05em] hover:-translate-y-[0.05em] hover:shadow-[0.15em_0.15em] 
        active:translate-x-[0.05em] active:translate-y-[0.05em] active:shadow-[0.05em_0.05em]
        ${customClass}`}
>
  <slot />
  </a>
